[submodule "LJKit"]
	path = Vendor/LJKit
	url = https://github.com/MaddTheSane/LJKit.git
[submodule "Vendor/Sparkle"]
	path = Vendor/Sparkle
	url = https://github.com/sparkle-project/Sparkle.git
[submodule "Vendor/OgreKit"]
	path = Vendor/OgreKit
	url = https://github.com/MaddTheSane/OgreKit.git
	branch = madds
[submodule "Vendor/SwiftAdditions"]
	path = Vendor/SwiftAdditions
	url = https://github.com/MaddTheSane/SwiftMacTypes.git
