<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>Xjournal Example Glossary</string>
	</dict>
	<dict>
		<key>text</key>
		<string>The Xjournal Glossary can contain text snippets that you might use on a regular basis.</string>
	</dict>
	<dict>
		<key>text</key>
		<string>The snippets can be text or HTML.</string>
	</dict>
	<dict>
		<key>text</key>
		<string>You can create new snippets by using the + button or dragging text into the list.</string>
	</dict>
	<dict>
		<key>text</key>
		<string>Use snippets by dragging them into your documents.</string>
	</dict>
</array>
</plist>
