<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CCFSoftwareUpdateURL</key>
	<string>http://www.speirs.org/xjournal/CCFSoftwareUpdate.plist</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleOSTypes</key>
			<array>
				<array>
					<string>TEXT</string>
				</array>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xjournal</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document</string>
			<key>CFBundleTypeName</key>
			<string>Xjournal Entry</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>XJDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Xjournal</string>
	<key>CFBundleGetInfoString</key>
	<string>Xjournal</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Xjournal Help</string>
	<key>CFBundleHelpBookName</key>
	<string>Xjournal Help</string>
	<key>CFBundleIconFile</key>
	<string>Xjournal</string>
	<key>CFBundleIdentifier</key>
	<string>org.speirs.xjournal</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Xjournal</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.4</string>
	<key>CFBundleSignature</key>
	<string>Xjrl</string>
	<key>CFBundleVersion</key>
	<string>332</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>OAApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Make new Xjournal Entry</string>
			</dict>
			<key>NSMessage</key>
			<string>newJournalItem</string>
			<key>NSPortName</key>
			<string>Xjournal</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
				<string>NSRTFPboardType</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
